body{
    background-color: rgb(132, 132, 131);
    color: black;
    text-align: center;
    font-size: 3rem;
}
input{
    font-size: 30px;
    padding: 20px;
    border: 5px solid black;
    border-radius: 20px;
    
}
button{
    font-size: 20px;
    padding: 20px;
    border: 5px solid black;
    border-radius: 20px;
    margin-top: 20px;
    cursor: pointer;
}
.calculator-body{
    background-color: antiquewhite;
    border: 1px solid black;
    border-radius: 20px;
    width: 50%;
    margin: 10rem 30rem ;
    box-shadow: rgba(6, 6, 6, 0.35) 0px 5px 15px;
}